install
cdrom
text
reboot

lang ja_JP.UTF-8
keyboard --vckeymap=jp --xlayouts='jp'
timezone Asia/Tokyo --isUtc

#rootpw --plaintext root
#user --name=vagrant --password=vagrant --plaintext --uid=900
rootpw --plaintext vagrant
user --groups=vagrant --name=vagrant --password=vagrant --plaintext

# Clear the Master Boot Record
zerombr

# Partition clearing information
#ignoredisk --only-use=sda
#clearpart --all --initlabel --drives=sda
clearpart --all --initlabel

#url --url http://mirror.nl.leaseweb.net/centos/7/os/x86_64/
#repo --name updates --baseurl=http://mirror.nl.leaseweb.net/centos/7/updates/x86_64/

# System bootloader configuration
autopart --type=plain
#bootloader --location=mbr --boot-drive=sda
bootloader

#network --device=eth0 --onboot yes --bootproto=dhcp --activate --noipv6
#network --device=lo   --hostname=localhost.localdomain

#firewall --disabled
#selinux —-disabled
#firstboot --disabled


#eula --agreed
#services --enabled=NetworkManager,sshd

auth --useshadow --passalgo=sha512

#skipx

#logging --level=info

# this
#autopart --type=btrfs
# or this
#part swap  --fstype=swap  --size=6000
#part /boot --fstype=ext4  --size=500
##part /     --fstype=ext4 --size=10000 --grow
## with LVM
##part pv.01 --size=10 --grow
##volgroup rootvg01 pv.01
##logvol / --fstype=xfs --name=lv01 --vgname=rootvg01 --size=10 --grow –-name=root
##
#part btrfs.10 --fstype=btrfs --size=10000 --grow
#btrfs none --label=centos --data=single btrfs.10
#btrfs / --subvol --name=root centos

%packages --ignoremissing
@^minimal
@core
kexec-tools
%end

%post
yum -y update

echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 440 /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end
