#version=DEVEL
# System authorization information
auth --enableshadow --passalgo=sha512
# Use network installation
url --url="http://mirror.centos.org/centos/7/os/x86_64/"
repo --name="updates" --baseurl=http://mirror.centos.org/centos/7/updates/x86_64/
# Use text mode install
text
# Run the Setup Agent on first boot
firstboot --enable
ignoredisk --only-use=sda
# Keyboard layouts
keyboard --vckeymap=jp --xlayouts='jp'
# System language
lang ja_JP.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --bootproto=dhcp --hostname=localhost.localdomain
# Reboot after installation
reboot
# Root password
rootpw --iscrypted $6$KVgTRtikRdta5/7I$IXGXhcC8adEVB8d6z5NH0625CrbfIJ4mZ1fF.6dp.8npIMg5hcwptY/WqbCxJ3d8ZpRW7eOVwrfaCyo3ctgo4.
# Do not configure the X Window System
skipx
# System timezone
timezone Asia/Tokyo --isUtc
user --name=vagrant --password=$6$Ept7qvtQv4D3Vqw/$1o3PRWkA74LYmjg19Y7o2j39SpNHi9QjKtPCWv26Ei4OeHlFJhLeOt4D4ivTNacA8PVklXjKITE1tbBD2SRJq. --iscrypted --gecos="vagrant"
# System bootloader configuration
bootloader --append=" crashkernel=auto" --location=mbr --boot-drive=sda
autopart --type=lvm
# Partition clearing information
clearpart --none --initlabel

%post
echo "vagrant        ALL=(ALL)       NOPASSWD: ALL" >> /etc/sudoers.d/vagrant
chmod 0440 /etc/sudoers.d/vagrant
sed -i "s/^.*requiretty/#Defaults requiretty/" /etc/sudoers
%end

%packages
@Core
%end

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end
